.vscode
springboot-starter-app/target
springboot-starter-app/*/.classpath
springboot-starter-app/*/.settings
springboot-starter-app/*/.project
springboot-starter-app/*/target
!springboot-starter-app/.mvn/wrapper/maven-wrapper.jar

### STS ###
springboot-starter-app/.apt_generated
springboot-starter-app/.classpath
springboot-starter-app/.factorypath
springboot-starter-app/.project
springboot-starter-app/.settings
springboot-starter-app/.springBeans
springboot-starter-app/.sts4-cache

### IntelliJ IDEA ###
springboot-starter-app/.idea
springboot-starter-app/*.iws
springboot-starter-app/*.iml
springboot-starter-app/*.ipr