<!DOCTYPE html>
<html>
    <head>
        <title>Customers</title>
    </head>
    <body>
        <h2>List Customers</h2>
        <table>
            <tr>
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>

            <tr th:each="customer : ${customers}">
                    <td th:text="${customer.getUsername()}">Email</td>
                    <td th:text="${customer.getFirstname()}">First Name</td>
                    <td th:text="${customer.getLastname()}">Last Name</td>
                    <td th:text="${customer.getEmail()}">Email</td>
            </tr>
        </table>
    </body>
</html>